!Fonts
Xft.dpi: 96
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! rofi
rofi.font: DejaVu Sans Mono 14 
rofi.terminal: terminator 
rofi.ssh-client: ssh
rofi.ssh-command: {terminal} -e "{ssh-client} {host}"

! special
*.foreground:   #0099cc
*.background:   #141021
*.cursorColor:  #0099cc

! black
*.color0:       #141021
*.color8:       #141021

! red
*.color1:       #b72d5c
*.color9:       #b72d5c

! green
*.color2:       #20b759
*.color10:      #20b759

! yellow
*.color3:       #cf2f41
*.color11:      #cf2f41

! blue
*.color4:       #2fcfbd
*.color12:      #2fcfbd

! magenta
*.color5:       #d24198
*.color13:      #d24198

! cyan
*.color6:       #93cd93
*.color14:      #93cd93

! white
*.color7:       #2fcfbd
*.color15:      #2fcfbd

