[Desktop Entry]
Version=1.4a
Type=Application
Name=Windowchef
Comment=Loads wot u need
Exec=~/.config/autostart/windowchef-autostart.sh
DesktopNames=windowchef

